<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
    <title>Muslim Events</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static "home/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "home/navbar.css" %}">
    {#   for logos #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static "home/cutlogo.png" %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{%  url 'home:index' %}">Muslim Events</a>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">

                <ul class="nav navbar-nav">

                    <li class="">
                        <a href="{% url 'home:index' %}">
                            Events
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'home:organisations' %}">
                            Organisations
                        </a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li class="">
                        <a href="{% url 'home:about' %}">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span>
                            About Us
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </nav>

    <div class="container">

        <a href="https://play.google.com/store/apps/details?id=com.muslimevents&hl">
            <h1>Download our app now from the Google Playstore!</h1>
        </a>


    {%  block body %}
    {% endblock %}

    </div>

</body>
</html>