{% extends 'home/base.html' %}

{% block body %}

    <div class="container text-center">

          <h1>{{ event.name }}</h1>

        <p><strong>{{ event.organisation.name }}</strong></p>

          <div class="row">

              <div class="col-sm-6 text-left">
                  <h2>Description</h2>
                  <p>{{ event.description }}</p>
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true" ></span>  {{ event.start }}<br>
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true" ></span> {{ location.address }}<br>
              </div>

              <div class="col-sm-4">
                  <img src={{ event.image.url }} class="img-thumbnail" alt="{{ event.name }}">
              </div>

          </div>

    </div>

{% endblock %}