{% extends 'home/base.html' %}

{% block body %}

    <h1>{{ event.name }}</h1>

        <p>By <strong>{{ event.organisation.name }}</strong></p>

          <div class="row">

              <div class="col-sm-6 text-left">

                  <span class="glyphicon glyphicon-calendar" aria-hidden="true" ></span> {{ event.start |date:"jS M Y" }}
                  <span class="glyphicon glyphicon-time" aria-hidden="true" ></span> {{ event.start |date:"H:i" }}<br>

                  {% if location is not None %}
                      <span class="glyphicon glyphicon-map-marker" aria-hidden="true" ></span> {{ location.address }}<br>
                  {% endif %}

                  <hr>
                  <p>{{ event.description }}</p>

              </div>

              <div class="col-sm-4">
                  <a href="{{ event.image.url }}">
                      <img src={{ event.image.url }} class="img-thumbnail" alt="{{ event.name }}">
                  </a>
              </div>

          </div>

{% endblock %}