{% extends 'home/base.html' %}

{% block body %}

    <h2>List of Events</h2>

        {% if all_events %}
            <div class="media">

                {%  for event in all_events %}

                    <div class="media-left">
                        <a href="/{{ event.id }}">
                        <img src="{{ event.image.url }}" class="media-object" style="width:60px">
                        </a>
                    </div>

                    <div class="media-body">
                        <a href="/{{ event.id }}">
                            <h4 class="media-heading">{{ event.name }}</h4>
                        </a>

                        <p>{{ event.description }}</p>
                        <p>{{ event.start }}</p>
                    </div>

                    <hr>

                {% endfor %}

            </div>

        {% else %}
            <h3>No events available</h3>
        {% endif %}

{% endblock %}



