/*body{*/
    /*background: white url("greyone.jpg");*/
/*}*/

a:link {
    color: #a90000
}


/* mouse over link */
a:hover {
    color: #ca0000;
}

img:hover {
   padding:1px;
   border:1px solid #ca0000;
}